<h1>{{ title }}</h1>

<form>
  <input type="text" name="nombre" [(ngModel)]="nombre">
  <br><br>
  <input type="text" name="apellido" [(ngModel)]="apellido">
  <br><br>

  <input type="submit" value="Registrar"
    (click)="registrarUsuario()"
  >
</form>

<br>
<!-- *ngIf="condicion; else nombre_variable_plantilla" -->
<p *ngIf="registrado; else sinRegistrar">
  {{ mensaje }} con el nombre de {{ nombre}} {{ apellido }}
</p>

<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<br><br>
<ul>
  <li *ngFor="let entrada of entradas; let i = index">
    <span style="font-size: larger; font-weight: bold;">
      {{ entrada.titulo }}
    </span>
    . Entrada {{ i + 1 }}
  </li>
</ul>
